#textdomain wesnoth-Wesband
# wesnoth-auxiliary-era

[unit_type]
    id=WBD Saurian Lurker
    name= _ "Saurian Lurker"
    race=undead
    hide_help=yes
    {TRAIT_FEARLESS_MUSTHAVE}
    image="units/undead/soulless-saurian.png"
    ellipse="misc/ellipse"
    hitpoints=30
    movement_type=lizard
    movement=5
    [resistance]
        arcane=80
        blade=90
        cold=60
        fire=90
        impact=100
        pierce=70
    [/resistance]
    [defense]
        forest=50
        hills=50
        sand=50
        mountains=50
        cave=50
    [/defense]
    experience=50
    level=1
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=16
    usage=fighter
    description= _ "The practice of necromancy is unknown among the saurians, but their augurs practice other arts, older and equally vile. The most terrible of these uses an elixir of rare herbs and dark rituals to induce a deathlike trance in their still-living brethren; in this state the lifeless husks act as barely-sentient slaves, commanded by their creators' dark magics. It is speculated by some loremasters that these creatures are a precursor to the vile ghoul, and that human necromancers learned such craft from the saurians. Few have a chance to study these unliving abominations in detail, however; while alone these shambling forms may seem slow and clumsy, they retain a deadly pack instinct and once they have their prey surrounded they rip into it with astonishing speed and viciousness."
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/undead/soulless-saurian-defend.png" "units/undead/soulless-saurian.png" hiss-hit.wav }
    [death]
        start_time=0
        [frame]
            duration=150
            image="units/undead/soulless-saurian-die-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soulless-saurian-die-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soulless-saurian-die-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soulless-saurian-die-4.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soulless-die-5.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soulless-die-6.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soulless-die-7.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soulless-die-8.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soulless-die-9.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soulless-die-10.png"
        [/frame]
    [/death]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-undead.png
        type=blade
        range=melee
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-250
            end=-125
            image="units/undead/soulless-saurian.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-125
                end=-50
                image="units/undead/soulless-saurian-attack.png"
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-125
                end=-50
                image="units/undead/soulless-saurian-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=-50
            end=200
            image="units/undead/soulless-saurian.png"
        [/frame]
    [/attack_anim]
    [npc_init]
        wesband=1
        hitpoints=30
        is_rpg_npc=1
        likes_gold=0
        no_ranged=1
        [unit_info]
            [variables]
                body=8
                body_rate=0
                deft=7
                deft_rate=-1
                mind=0
                mind_rate=0
                evade_level=0
                max_moves=5
                [inventory]
                    [weapons]
                        [melee]
                            name="claws"
                            user_name="claws"
                            description=_ "claws"
                            icon="claws-undead"
                            class="none"
                            class_description="none"
                            undroppable=1
                            range=melee
                            type=impact
                            damage=1
                            number=2
                            body_damage_rate=45
                            deft_damage_rate=30
                            deft_number_rate=10
                            body_number_rate=10
                            [specials]
                                {WEAPON_SPECIAL_BACKSTAB}
                            [/specials]
                        [/melee]
                    [/weapons]
                [/inventory]
            [/variables]
        [/unit_info]
    [/npc_init]
[/unit_type]
