#textdomain wesnoth-Wesband
# wesnoth-Era_of_Myths

[unit_type]
    id=WBD Razorbird
    name= _ "Razorbird"
    race=elemental
    hide_help=yes
    {TRAIT_ELEMENTAL}
    ignore_race_traits=yes
    {TRAIT_DIAMOND}
    {TRAIT_DIAMOND}
    {TRAIT_SAPPHIRE}
    {TRAIT_RUBY}
    image="units/elementals/air-razorbird.png"
    ellipse="misc/ellipse"
    die_sound={SOUND_LIST:GRYPHON_DIE}
    image_moving="air-razorbird.png"
    hitpoints=32
    movement_type=fly
    movement=9
    experience=35
    level=1
    alignment=neutral
    advances_to=WBD Thunderbird
    cost=18
    usage=scout
    description= _ "Lightning is not an element, however some wind spirits can take a form where they can control it. The body they need to develop from a younger form, known as the Razorbird. Given the time and power, it will grow into a Thunderbird."
    {DEFENSE_ANIM "units/elementals/air-razorbird.png" "units/elementals/air-razorbird.png" {SOUND_LIST:GRYPHON_HIT} }

    [resistance]
        arcane=110
    [/resistance]

    [attack]
        name=beak
        description=_"beak"
        type=pierce
        range=melee
        damage=11
        number=1
        icon=attacks/beak.png
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]

    [attack]
        name=thunderbolt
        description=_"thunderbolt"
        type=fire
        range=ranged
        damage=8
        number=2
        icon=attacks/lightning.png

        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=beak
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/elementals/air-razorbird-attack.png"
            sound=spear.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=blade shower
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=50
                image="units/elementals/air-razorbird.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=50
                image="units/elementals/air-razorbird.png"
            [/frame]
        [/else]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=50
                image="units/elementals/air-razorbird.png"
                sound=throwing-knife.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=50
                image="units/elementals/air-razorbird.png"
                sound=throwing-knife-miss.ogg
            [/frame]
        [/else]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=50
                image="units/elementals/air-razorbird.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=50
                image="units/elementals/air-razorbird.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=thunderbolt
        [/filter_attack]
        [missile_frame]
            begin=-100
            end=0
            image="projectiles/lightning-n.png"
            image_diagonal="projectiles/lightning-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-50
                image="units/elementals/air-thunderbird.png"
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/elementals/air-thunderbird-attack.png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-50
                image="units/elementals/air-thunderbird.png"
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/elementals/air-thunderbird-attack.png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [npc_init]
        wesband=1
        hitpoints=32
        is_rpg_npc=1
        likes_gold=0
        [weapon_skills]
        [/weapon_skills]
        [unit_info]
            [variables]
                body=6
                body_rate=1
                deft=8
                deft_rate=-1
                mind=0
                mind_rate=0
                evade_level=0
                max_moves=9
                [inventory]
                    [weapons]
                        [melee]
                            name="beak"
                            user_name="beak"
                            description=_ "beak"
                            icon="beak"
                            class="none"
                            class_description="none"
                            undroppable=1
                            range=melee
                            type=pierce
                            damage=7
                            number=1
                            body_damage_rate=40
                            deft_damage_rate=25
                            body_number_rate=0
                            deft_number_rate=5
                            [specials]
                                {WEAPON_SPECIAL_CHARGE}
                            [/specials]
                        [/melee]
                        [ranged]
                            name="thunderbolt"
                            user_name="thunderbolt"
                            description=_ "thunderbolt"
                            icon="lightning"
                            class="none"
                            class_description="none"
                            undroppable=1
                            range=ranged
                            type=fire
                            damage=7
                            number=2
                            body_damage_rate=5
                            deft_damage_rate=15
                            body_number_rate=0
                            deft_number_rate=10
                            [specials]
                                {WEAPON_SPECIAL_MAGICAL}
                            [/specials]
                        [/ranged]
                    [/weapons]
                [/inventory]
                [abilities]
                [/abilities]
            [/variables]
        [/unit_info]
    [/npc_init]
[/unit_type]
