#textdomain wesnoth-Wesband
# wesnoth-Era_of_Myths

[unit_type]
    id=WBD Ice Shell
    name= _ "Ice Shell"
    race=elemental
    hide_help=yes
    {TRAIT_ELEMENTAL}
    ignore_race_traits=yes
    {TRAIT_SAPPHIRE}
    {TRAIT_SAPPHIRE}
    {TRAIT_DIAMOND}
    {TRAIT_EMERALD}
    image="units/elementals/water-ice-hardshell.png"
    hitpoints=55
    movement_type=WBD_smallfoot
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=35
    usage=fighter
    description=_ "The more powerful the water spirit gets, the more powerfull it's aura of cold, and the stronger an icey body it can make."
    {DEFENSE_ANIM "units/elementals/water-ice-hardshell.png" "units/elementals/water-ice-hardshell.png" staff.wav }

    [abilities]
        {ABILITY_WATER}
    [/abilities]

    [resistance]
        fire=150
        cold=10
        impact=120
        pierce=90
        blade=80
        arcane=100
    [/resistance]
    [movement_costs]
        deep_water=3
        shallow_water=2
        frozen=1
    [/movement_costs]
    [defense]
        deep_water=60
        shallow_water=50
        frozen=40
    [/defense]

    [attack]
        name=icicle
        description=_"icicle"
        type=pierce
        range=melee
        damage=10
        number=3
        icon=attacks/ice-shard.png
    [/attack]

    [attack]
        name=cold aura
        description=_"cold aura"
        type=cold
        range=ranged
        damage=5
        number=3
        icon=attacks/iceball.png
        [specials]
            {WBD_WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=icicle
        [/filter_attack]
        [frame]
            begin=-100
            end=30
            image=units/elementals/water-ice-crab-attack.png
        [/frame]
        [frame]
            begin=-100
            end=30
            image=units/elementals/water-ice-crab-attack.png
            sound=spear.ogg
        [/frame]
        [frame]
            begin=-100
            end=30
            image=units/elementals/water-ice-crab-attack.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=cold aura
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}
        [frame]
            begin=-100
            end=100
            image=units/elementals/water-ice-hardshell.png
        [/frame]
        [frame]
            begin=-100
            end=100
            image=units/elementals/water-ice-hardshell.png
            sound=magic-faeriefire.ogg
        [/frame]
        [frame]
            begin=-100
            end=100
            image=units/elementals/water-ice-hardshell.png
        [/frame]
    [/attack_anim]

    [death]
        [frame]
            begin=0
            end=50
            image="units/elementals/water-ice-hardshell.png"
        [/frame]
        [frame]
            begin=50
            end=150
            image="units/elementals/water-ice-hardshell.png"
        [/frame]
        [frame]
            begin=150
            end=250
            image="units/elementals/water-ice-hardshell.png"
        [/frame]
    [/death]
    [npc_init]
        wesband=1
        experience=117
        hitpoints=55
        is_rpg_npc=1
        likes_gold=0
        [weapon_skills]
        [/weapon_skills]
        [unit_info]
            [variables]
                body=11
                body_rate=0
                deft=9
                deft_rate=0
                mind=0
                mind_rate=0
                evade_level=0
                max_moves=6
                [inventory]
                    [weapons]
                        [melee]
                            name="icicle"
                            user_name="icicle"
                            description=_ "icicle"
                            icon="ice-shard"
                            class="none"
                            class_description="none"
                            undroppable=1
                            range=melee
                            type=impact
                            damage=1
                            number=2
                            body_damage_rate=70
                            deft_damage_rate=20
                            deft_number_rate=15
                            body_number_rate=5
                        [/melee]
                        [ranged]
                            name="cold aura"
                            user_name="cold aura"
                            description=_ "cold aura"
                            icon="iceball"
                            class="none"
                            class_description="none"
                            undroppable=1
                            range=ranged
                            type=cold
                            damage=1
                            number=2
                            body_damage_rate=10
                            deft_damage_rate=33
                            deft_number_rate=15
                            body_number_rate=5
                            [specials]
                                [slow]
                                    id=slow
                                    name= _ "slows"
                                    description= _ "Slow:
This attack slows the target until it ends a turn. Slow halves the damage caused by attacks and the movement cost for a slowed unit is doubled. A unit that is slowed will feature a snail icon in its sidebar information when it is selected."
                                    name_inactive= _ "slows"
                                    description_inactive= _ "Slow:
This attack slows the target until it ends a turn. Slow halves the damage caused by attacks and the movement cost for a slowed unit is doubled. A unit that is slowed will feature a snail icon in its sidebar information when it is selected."
                                    [filter_opponent]
                                        [not]
                                            [filter_wml]
                                                [variables]
                                                    unslowable_flag=1
                                                [/variables]
                                            [/filter_wml]
                                        [/not]
                                    [/filter_opponent]
                                [/slow]
                            [/specials]
                        [/ranged]
                    [/weapons]
                [/inventory]
                [abilities]
                    water=1
                [/abilities]
            [/variables]
        [/unit_info]
    [/npc_init]
[/unit_type]
