#textdomain wesnoth-Wesband
# wesnoth-Era_of_Strife

[unit_type]
    id=WBD Minotaur Gore
    name= _ "Minotaur Gore"
    race=minotaurs
    hide_help=yes
    image="units/minotaurs/gore.png"
    hitpoints=37
    movement_type=minotaurfoot
    movement=4
    experience=45
    level=2
    alignment=chaotic
    advances_to=WBD Minotaur Rouser,WBD Minotaur Savage
    cost=17
    usage=fighter
    description= _ "The Gores are basically new recruits in the minotaur infantry or simply militia defending their territory."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/minotaurs/gore.png" "units/minotaurs/gore.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_DIVINE_HEALTH}
    [/abilities]
    [attack]
        name=axe
        description=_"axe"
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        start_time=-100
        [frame]
            duration=100
            image="units/minotaurs/gore.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/minotaurs/gore.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/minotaurs/gore.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/minotaurs/gore.png"
        [/frame]
        [frame]
            duration=100
            image="units/minotaurs/gore.png"
        [/frame]
    [/attack_anim]
    [npc_init]
        wesband=1
        hitpoints=45
        is_rpg_npc=1
        likes_gold=1
        [weapon]
            name=axe
            attribute=light
        [/weapon]
        [armor]
            name=studded_leather
            attribute=battered
        [/armor]
        [armor]
            name=leather_cap
            attribute=battered
        [/armor]
        [armor]
            name=leather_leggings
            attribute=battered
        [/armor]
        body=8
        deft=4
        mind=5
        [weapon_skills]
            [heavy_blade]
                attack=1
                damage=1
            [/heavy_blade]
        [/weapon_skills]
        [abilities]
            divine_health=1
            leadership=1
        [/abilities]
    [/npc_init]
[/unit_type]
