#textdomain wesnoth-Wesband
# wesnoth-Era_of_Strife

[unit_type]
    id=WBD Minotaur Savage
    name= _ "Minotaur Savage"
    race=minotaurs
    hide_help=yes
    image="units/minotaurs/savage.png"
    hitpoints=54
    movement_type=minotaurfoot
    movement=4
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=39
    usage=fighter
    die_sound=drake-die.ogg
    description= _ "Unlike the rousers, savages have decided to take on a reputation of fear rathern than leadership. The reason savages are dreaded is because it appears that savages have reverted to their primal instincts which are absolutely terrifying in the eyes of those who do not know about the minotaurs well. These frightening aspects appear to affect the enemy in a negative manner which will actually physically weaken them."
    {DEFENSE_ANIM "units/minotaurs/savage.png" "units/minotaurs/savage.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_DIVINE_HEALTH}
    [/abilities]
    [attack]
        name=mace
        description=_"mace"
        type=impact
        range=melee
        damage=11
        number=3
        [specials]
            {WBD_WEAPON_SPECIAL_DREAD}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        start_time=-100
        [frame]
            duration=100
            image="units/minotaurs/savage.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/minotaurs/savage.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/minotaurs/savage.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/minotaurs/savage.png"
        [/frame]
        [frame]
            duration=100
            image="units/minotaurs/savage.png"
        [/frame]
    [/attack_anim]
    [npc_init]
        wesband=1
        hitpoints=54
        is_rpg_npc=1
        likes_gold=1
        [weapon]
            name=mace
            attribute=rusty
        [/weapon]
        [armor]
            name=studded_leather
            attribute=battered
        [/armor]
        [armor]
            name=leather_cap
            attribute=battered
        [/armor]
        [armor]
            name=leather_leggings
            attribute=battered
        [/armor]
        body=14
        deft=6
        mind=4
        [weapon_skills]
            [bludgeon]
                attack=1
                damage=2
            [/bludgeon]
        [/weapon_skills]
        [abilities]
            divine_health=1
            dread=1
        [/abilities]
    [/npc_init]
[/unit_type]
