#textdomain wesnoth-Wesband
# wesnoth-Era_of_Strife

[unit_type]
    id=WBD Minotaur Rouser
    name= _ "Minotaur Rouser"
    race=minotaurs
    hide_help=yes
    image="units/minotaurs/rouser.png"
    hitpoints=50
    movement_type=minotaurfoot
    [resistance]
        blade=100
        pierce=90
        impact=90
    [/resistance]
    movement=4
    experience=80
    level=3
    alignment=chaotic
    advances_to=WBD Minotaur Overlord
    cost=35
    usage=fighter
    description= _ "The Rousers are the elite of the minotaur infantry who seek either generalship or executionership; their bravery is derived from the desire to obtain higher ranks in minotaur society."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/minotaurs/rouser-defend-2.png" "units/minotaurs/rouser-defend-1.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_DIVINE_HEALTH}
    [/abilities]
    [attack]
        name=battle axe
        description=_"battle axe"
        type=blade
        range=melee
        damage=11
        number=3
        icon=attacks/battleaxe.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=battle axe
        [/filter_attack]
        start_time=-100
        [frame]
            duration=100
            image="units/minotaurs/rouser.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/minotaurs/rouser.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/minotaurs/rouser.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/minotaurs/rouser.png"
        [/frame]
        [frame]
            duration=100
            image="units/minotaurs/rouser.png"
        [/frame]
    [/attack_anim]
    [npc_init]
        wesband=1
        hitpoints=50
        is_rpg_npc=1
        likes_gold=1
        [weapon]
            name=axe
            attribute=rusty
        [/weapon]
        [armor]
            name=scale_mail
            attribute=battered
        [/armor]
        [armor]
            name=full_helm
            attribute=battered
        [/armor]
        [armor]
            name=mail_greaves
            attribute=battered
        [/armor]
        body=15
        deft=7
        mind=6
        [weapon_skills]
            [heavy_blade]
                attack=1
                damage=2
            [/heavy_blade]
        [/weapon_skills]
        [abilities]
            divine_health=1
            leadership=2
        [/abilities]
    [/npc_init]
[/unit_type]
