#define PLACE_DIAMOND_MASK FILE X Y
    [terrain_mask]
        x={X}
        y={Y}
        mask="{~add-ons/Weshack/masks/{FILE}.mask}"
    [/terrain_mask]
#enddef

#define WBD_TOWN_SETUP
    [switch]
        variable=town_type
        [case]
            value=standard1
            {TELEPORT_UNIT side=1 21 13}
            {TELEPORT_UNIT side=2 20 18}
            {TELEPORT_UNIT side=3 23 16}
            {TELEPORT_UNIT side=4 18 16}
        [/case]
        [case]
            value=sylvan1
            {TELEPORT_UNIT side=1 19 14}
            {TELEPORT_UNIT side=2 23 15}
            {TELEPORT_UNIT side=3 20 18}
            {TELEPORT_UNIT side=4 18 17}
        [/case]
        [case]
            value=cavern1
            {TELEPORT_UNIT side=1 22 16}
            {TELEPORT_UNIT side=2 17 16}
            {TELEPORT_UNIT side=3 22 14}
            {TELEPORT_UNIT side=4 18 12}
        [/case]
        #desert looks strange when you have trees and lakes all around it
        #      [case]
        #         value=desert1
        #         {TELEPORT_UNIT side=1 18 14}
        #         {TELEPORT_UNIT side=2 18 17}
        #         {TELEPORT_UNIT side=3 21 17}
        #         {TELEPORT_UNIT side=4 6 5}
        #         {VARIABLE initial_shop_x 19}
        #         {VARIABLE initial_shop_y 16}
        #      [/case]
        [case]
            value=standard2
            {TELEPORT_UNIT side=1 21 12}
            {TELEPORT_UNIT side=2 18 18}
            {TELEPORT_UNIT side=3 24 18}
            {TELEPORT_UNIT side=4 24 14}
        [/case]
    [/switch]
#enddef
