#define WBD_GENERATE_EXITS LEVEL_UP LEVEL_DOWN
        #put exits on dirt
        [store_locations]
            x=1-50
            y=2-50
            terrain=Re
            variable=chamber_terrain
        [/store_locations]

        {RANDOM 1..$chamber_terrain.length}
        {VARIABLE trapdoor_up.x $chamber_terrain[$random].x}
        {VARIABLE trapdoor_up.y $chamber_terrain[$random].y}

        {RANDOM 1..$chamber_terrain.length}
        {VARIABLE trapdoor_down.x $chamber_terrain[$random].x}
        {VARIABLE trapdoor_down.y $chamber_terrain[$random].y}

        #make sure exits aren't on the same spot
		#want to figure out that they're at least X away
		{FIND_DISTANCE $trapdoor_up.x $trapdoor_up.y $trapdoor_down.x $trapdoor_down.y}
		[while]
			[variable]
				name=distance
				less_than=35
			[/variable]
			[do]
				{RANDOM 1..$chamber_terrain.length}
				{VARIABLE trapdoor_down.x $chamber_terrain[$random].x}
				{VARIABLE trapdoor_down.y $chamber_terrain[$random].y}
				{FIND_DISTANCE $trapdoor_up.x $trapdoor_up.y $trapdoor_down.x $trapdoor_down.y}
				[if]
					[variable]
						name=distance
						less_than=35
					[/variable]
					[then]
						{RANDOM 1..$chamber_terrain.length}
						{VARIABLE trapdoor_up.x $chamber_terrain[$random].x}
						{VARIABLE trapdoor_up.y $chamber_terrain[$random].y}
						{FIND_DISTANCE $trapdoor_up.x $trapdoor_up.y $trapdoor_down.x $trapdoor_down.y}
					[/then]
				[/if]
			[/do]
		[/while]

        #put players by the up exit if they came down, by the down exit if they came up

        [if]
            [variable]
                name=level_adjustment
                equals="down"
            [/variable]
            [then]
                {TELEPORT_UNIT side=1 $trapdoor_up.x $trapdoor_up.y}
                {TELEPORT_UNIT side=2 $trapdoor_up.x $trapdoor_up.y}
                {TELEPORT_UNIT side=3 $trapdoor_up.x $trapdoor_up.y}
            [/then]
        [/if]

        #put exit images
        [item]
            x=$trapdoor_down.x
            y=$trapdoor_down.y
            image="scenery/trapdoor-open.png"
            visible_in_fog=yes
        [/item]
        [item]
            x=$trapdoor_up.x
            y=$trapdoor_up.y
            image="stairs-up.png"
            visible_in_fog=yes
        [/item]
#enddef

#define WBD_GENERATE_LOOT
#enddef
