#textdomain wesnoth-Era_of_Myths

[unit_type]
    id=WBD Devling Flyers
    name= _ "Devling Flyers"
    race=devling
	hide_help=true
    {TRAIT_FEARLESS}
    image="units/devlings/flyers.png"
    #profile=misc/kapoue.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=37
    movement_type=devlingflyer
    movement=9
    experience=78
    level=2
    alignment=chaotic
    advances_to=WBD Devling Attackers
    cost=27
    usage=scout
    description= _ "Devilings are dangerous without wings, and even more dangerous with."
    {DEFENSE_ANIM "units/devlings/flyers.png" "units/devlings/flyers.png" {SOUND_LIST:ORC_SMALL_HIT} }
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=glaive
        description=_"mini-glaive"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=breath
        description=_"breath"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=5
        number=4
    [/attack]
	[npc_init]
		hitpoints=37
		is_rpg_npc=1
		likes_gold=1
		[weapon]
			name=glaive
			attribute=rusty
		[/weapon]
		body=7
		deft=10
		mind=4
		[armor]
			name=studded_leather
			attribute=light
		[/armor]
		[armor]
			name=leather_cap
			attribute=light
		[/armor]
		[armor]
			name=leather_leggings
			attribute=light
		[/armor]
		[weapon_skills]
			[heavy_blade]
				attack=1
			[/heavy_blade]
		[/weapon_skills]
		[abilities]
			devling_flyer=1
		[/abilities]
		[upgrades]
			evade_level=1
		[/upgrades]
	[/npc_init]
[/unit_type]
