#textdomain wesnoth-Era_of_Myths

[unit_type]
    id=WBD Devling Attackers
    name= _ "Devling Attackers"
    race=devling
	hide_help=true
    {TRAIT_FEARLESS}
    image="units/devlings/attackers.png"
    #profile=misc/kapoue.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=45
    movement_type=devlingflyer
    movement=10
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=39
    usage=scout
    description= _ "With uncanny speed, heated breath, and sharp weapons, even the smallest of enemies is a threat."
    {DEFENSE_ANIM "units/devlings/attackers.png" "units/devlings/attackers.png" {SOUND_LIST:ORC_SMALL_HIT} }
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=glaive
        description=_"mini-glaive"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=breath
        description=_"breath"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=7
        number=4
    [/attack]
	[npc_init]
		hitpoints=37
		is_rpg_npc=1
		likes_gold=1
		[weapon]
			name=glaive
			attribute=rusty
		[/weapon]
		body=9
		deft=12
		mind=4
		[armor]
			name=studded_leather
			attribute=light
		[/armor]
		[armor]
			name=leather_cap
			attribute=light
		[/armor]
		[armor]
			name=leather_leggings
			attribute=light
		[/armor]
		[weapon_skills]
			[heavy_blade]
				attack=1
				damage=1
			[/heavy_blade]
		[/weapon_skills]
		[abilities]
			devling_flyer=1
		[/abilities]
		[upgrades]
			evade_level=1
		[/upgrades]
	[/npc_init]
[/unit_type]
