#textdomain wesnoth-Wesband
# wesnoth-Era_of_Myths

[unit_type]
    id=WBD Devling Lurker
    name= _ "Devling Lurker"
    race=devling
    hide_help=yes
    {TRAIT_FEARLESS}
    image="units/devlings/lurker.png"
    ellipse="misc/ellipse"
    #profile=misc/kapoue.png
    hitpoints=23
    movement_type=devlingelusive
    movement=6
    experience=50
    level=1
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=18
    usage=scout
    description= _ "Devilings who practice sticking knives into peoples backs long enough get even better at it."
    {DEFENSE_ANIM "units/devlings/lurker.png" "units/devlings/lurker.png" {SOUND_LIST:ORC_SMALL_HIT} }
    die_sound={SOUND_LIST:GOBLIN_DIE}

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    [attack]
        name=sword
        description=_ "sword"
        icon=attacks/spear-orcish.png
        type=blade
        range=melee
        damage=4
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=knife
        description=_ "knife"
        icon=attacks/spear-orcish.png
        type=blade
        range=ranged
        damage=3
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/devlings/lurker.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        [frame]
            begin=-200
            end=100
            image="units/devlings/lurker.png"
            sound={SOUND_LIST:THROW}
        [/frame]
    [/attack_anim]
    [npc_init]
        wesband=1
        hitpoints=23
        is_rpg_npc=1
        likes_gold=1
        [weapon]
            name=dagger
            attribute=rusty
        [/weapon]
        [weapon]
            name=thrown_dagger
            attribute=rusty
        [/weapon]
        body=5
        deft=8
        mind=4
        [weapon_skills]
            [light_blade]
                attack=1
            [/light_blade]
        [/weapon_skills]
        [abilities]
            skirmisher=1
            backstab=1
        [/abilities]
        [upgrades]
            evade_level=2
        [/upgrades]
    [/npc_init]
[/unit_type]
