#textdomain wesnoth-Wesband

[unit_type]
    id=WBD Matriarch of Emptiness
    name= _ "Matriarch of Emptiness"
    race=elf
    hide_help=yes
    image="units/tharis-magi/matriarch.png"
    halo="halo/deadzone.png"
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=WBD_defoot
    movement=5
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    cost=18
    {AMLA_DEFAULT}
    usage=mixed fighter
    description= _ "Matriarch of emtiness owns powerful orb, which drains all magical energy from air. That means all spells do minimal damage."
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/tharis-magi/matriarch.png" "units/tharis-magi/matriarch.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [abilities]
        {ABILITY_DEADZONE}
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=whip
        description=_"spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=whip2
        description=_"spear"
        icon=attacks/spear.png
        type=blade
        range=melee
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=whip
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-200
            image="units/tharis-magi/matriarch.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/tharis-magi/matriarch-attack1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/tharis-magi/matriarch-attack2.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/tharis-magi/matriarch-attack1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/tharis-magi/matriarch.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=whip
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-200
            image="units/tharis-magi/matriarch.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/tharis-magi/matriarch-attack1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/tharis-magi/matriarch-attack2.png"
            sound=spear.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/tharis-magi/matriarch-attack1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/tharis-magi/matriarch.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=whip2
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-200
            image="units/tharis-magi/matriarch.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/tharis-magi/matriarch-attack1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/tharis-magi/matriarch-attack2.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/tharis-magi/matriarch-attack1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/tharis-magi/matriarch.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=whip2
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-200
            image="units/tharis-magi/matriarch.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/tharis-magi/matriarch-attack1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/tharis-magi/matriarch-attack2.png"
            sound=spear.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/tharis-magi/matriarch-attack1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/tharis-magi/matriarch.png"
        [/frame]
    [/attack_anim]
    [npc_init]
        wesband=1
        hitpoints=52
        is_rpg_npc=1
        likes_gold=1
        [weapon]
            name=glaive
            attribute=none
        [/weapon]
        [weapon]
            name=spear
            attribute=none
        [/weapon]
        [armor]
            name=mage_robe
            attribute=none
        [/armor]
        body=7
        deft=8
        mind=12
        [weapon_skills]
            [polearm]
                damage=2
                attack=1
            [/polearm]
        [/weapon_skills]
        [abilities]
            witch_magic=4
            wield=1
            [magic_casting]
                mana=12
                max_mana=12
                power=2
                speed=2
            [/magic_casting]
        [/abilities]
    [/npc_init]
[/unit_type]
