#textdomain wesnoth-Wesband

[unit_type]
    id=WBD Great Warlock
    name= _ "Great Warlock"
    race=elf
    hide_help=yes
    image="units/tharis-magi/greatwarlock.png"
    ellipse="misc/ellipse"
    hitpoints=54
    movement_type=WBD_defoot
    movement=5
    experience=180
    level=4
    alignment=chaotic
    advances_to=WBD Master of Darkness
    cost=18
    usage=mixed fighter
    description= _ "Great Warlock knows black magic well. He learned a secret of levitation so he can move for a long distance. He is equipped with scythe and he uses very powerful magic spells."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/tharis-magi/greatwarlock-defend.png" "units/tharis-magi/greatwarlock.png" {SOUND_LIST:ELF_HIT} }
    [movement_costs]
        deep_water=3
        shallow_water=2
        swamp_water=2
        sand=1
        forest=1
        mountains=1
        unwalkable=99
        impassable=99
        frozen=1
    [/movement_costs]
    [movement_anim]
        [frame]
            begin=0
            end=300
            image="units/tharis-magi/greatwarlock-move1.png"
        [/frame]
        [frame]
            begin=300
            end=600
            image="units/tharis-magi/greatwarlock-move2.png"
        [/frame]
    [/movement_anim]
    [attack]
        name=scythe
        description=_"scythe"
        icon=attacks/scythe.png
        type=blade
        range=melee
        damage=10
        number=2
    [/attack]

    [attack]
        name=dark ball
        description=_"dark ball"
        icon=attacks/dark-missile.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=18
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=scythe
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-200
            image="units/tharis-magi/greatwarlock.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/tharis-magi/greatwarlock-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/tharis-magi/greatwarlock-attack-staff-2.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/tharis-magi/greatwarlock-attack-staff-3.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/tharis-magi/greatwarlock-defend.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=scythe
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-200
            image="units/tharis-magi/greatwarlock.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/tharis-magi/greatwarlock-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/tharis-magi/greatwarlock-attack-staff-2.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/tharis-magi/greatwarlock-attack-staff-3.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/tharis-magi/greatwarlock-defend.png"
        [/frame]
    [/attack_anim]
#define ELDER_MAGE_LIGHTNING_BALLS VARIATION DIR HALO_X HALO_Y
    [attack_anim]
        [filter_attack]
            name=dark ball
        [/filter_attack]
        [missile_frame]
            begin=-100
            end=0
            offset=1.0
        [/missile_frame]
        [frame]
            begin=-600
            end=-400
            image="units/tharis-magi/greatwarlock-magic1.png"
        [/frame]
        [frame]
            begin=-400
            end=-200
            image="units/tharis-magi/greatwarlock-magic2.png"
        [/frame]
        [frame]
            begin=-200
            end=0
            image="units/tharis-magi/greatwarlock-magic3.png"
        [/frame]
        [if]
            hits=no
            direction={DIR}
            [frame]
                begin=0
                end=700
                image="units/tharis-magi/greatwarlock-magic4.png"
                sound=magic-dark.ogg
                halo=halo/dark-ball-{VARIATION}-1.png,halo/dark-ball-{VARIATION}-2.png,halo/dark-ball-{VARIATION}-3.png,halo/dark-ball-{VARIATION}-4.png,halo/dark-ball-{VARIATION}-5.png,halo/dark-ball-{VARIATION}-2.png,halo/dark-ball-{VARIATION}-1.png
                halo_x,halo_y={HALO_X},{HALO_Y}
            [/frame]
        [/if]
        [else]
            hits=yes
            direction={DIR}
            [frame]
                begin=0
                end=700
                image="units/tharis-magi/greatwarlock-magic4.png"
                sound=magic-dark.ogg
                halo=halo/dark-ball-{VARIATION}-1.png,halo/dark-ball-{VARIATION}-2.png,halo/dark-ball-{VARIATION}-3.png,halo/dark-ball-{VARIATION}-4.png,halo/dark-ball-{VARIATION}-5.png,halo/dark-ball-{VARIATION}-2.png,halo/dark-ball-{VARIATION}-1.png
                halo_x,halo_y={HALO_X},{HALO_Y}
            [/frame]
        [/else]
        [frame]
            begin=700
            end=750
            image="units/tharis-magi/greatwarlock-defend.png"
        [/frame]
    [/attack_anim]
#enddef
    # The three variations for the north direction:
    {ELDER_MAGE_LIGHTNING_BALLS 1 n 0 -72}
    # The three variations for the south direction:
    {ELDER_MAGE_LIGHTNING_BALLS 1 s 0 72}
    # And so on...
    {ELDER_MAGE_LIGHTNING_BALLS 1 se 54 36}
    {ELDER_MAGE_LIGHTNING_BALLS 1 sw 54 36}
    {ELDER_MAGE_LIGHTNING_BALLS 1 ne 54 -36}
    {ELDER_MAGE_LIGHTNING_BALLS 1 nw 54 -36}

    [npc_init]
        wesband=1
        hitpoints=54
        is_rpg_npc=1
        likes_gold=1
        [weapon]
            name=scythe
            attribute=none
        [/weapon]
        [weapon]
            name=spirit_staff
            attribute=none
        [/weapon]
        [armor]
            name=mage_robe
            attribute=none
        [/armor]
        body=6
        deft=8
        mind=12
        [weapon_skills]
            [bludgeon]
                attack=1
                damage=1
            [/bludgeon]
            [heavy_blade]
                damage=1
            [/heavy_blade]
        [/weapon_skills]
        [abilities]
            warlock_magic=1
            wield=1
            [magic_casting]
                mana=12
                max_mana=12
                power=2
                speed=2
            [/magic_casting]
        [/abilities]
    [/npc_init]
[/unit_type]
