#textdomain wesnoth-units
[unit_type]
    id=Giant Toxic Slime
    name= _ "Giant Toxic Slime"
    race=monster
    image="units/monsters/giant-toxic-slime.png"
    ellipse="misc/ellipse"
    #ability=regenerates
    hitpoints=36
    movement_type=scuttlefoot
    movement=4
    experience=50
    level=2
    alignment=neutral
    advances_to=Huge Toxic Slime
    {AMLA_DEFAULT}
    cost=26
    description= _ "Giant Toxic Slimes are a larger kind of Toxic Slimes, and are magical constructs of soil and water. They attack by belching lumps of mud at their foes, or by striking them with their fists."
    die_sound=squishy-hit.wav
    undead_variation=null
    usage=archer
    {DEFENSE_ANIM "units/monsters/giant-toxic-slime-defend.png" "units/monsters/giant-toxic-slime.png" squishy-hit.wav }
    [attack]
        name=fist
        description=_"fist"
        icon=attacks/mud-glob.png
        type=impact
        range=melee
        damage=5
        number=1
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=toxic glob
        description=_"toxic glob"
        icon=attacks/poison_spit.png
        type=impact
        range=ranged
        damage=5
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=toxic glob
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/toxic-glob.png"
            image_diagonal="projectiles/toxic-glob.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/monsters/giant-toxic-slime-attack.png"
                sound=squishy-strike.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/monsters/giant-toxic-slime-attack.png"
                sound=squishy-miss.wav
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/monsters/giant-toxic-slime-attack.png"
                sound=squishy-strike.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/monsters/giant-toxic-slime-attack.png"
                sound=squishy-miss.wav
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/monsters/giant-toxic-slime-attack2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/monsters/giant-toxic-slime-attack2.png"
        [/frame]
    [/attack_anim]
[/unit_type]
