#textdomain wesnoth-units
[unit_type]
    id=WBD Huge Metal Slime
    name= _ "Huge Metal Slime"
    race=monster
	hide_help=true
    image="units/monsters/huge-metal-slime.png"
    ellipse="misc/ellipse"
    #ability=regenerates
    hitpoints=60
    movement_type=scuttlefoot
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=38
    description= _ "Huge Metal Slimes are a larger kind of Metal Slime, and are magical constructs of metal. They attack by belching lumps of metal at their foes, or by striking them with their fists."
    die_sound=squishy-hit.wav
    undead_variation=null
    usage=archer
    {DEFENSE_ANIM "units/monsters/huge-metal-slime-attack1.png" "units/monsters/huge-metal-slime.png" mace.wav }
    [resistance]
        blade=50
        impact=60
        cold=60
        fire=60
        pierce=50
    [/resistance]
    [attack]
        name=fist
        description=_"fist"
        icon=attacks/mud-glob.png
        type=impact
        range=melee
        damage=12
        number=3
    [/attack]
    [attack]
        name=metal glob
        description=_"metal glob"
        icon=attacks/mud-glob.png
        type=impact
        range=ranged
        damage=8
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=metal glob
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/metal-glob.png"
            image_diagonal="projectiles/metal-glob.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/monsters/huge-metal-slime-attack.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/monsters/huge-metal-slime-attack.png"
                sound=squishy-miss.wav
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/monsters/huge-metal-slime-attack1.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/monsters/huge-metal-slime-attack1.png"
                sound=squishy-miss.wav
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/monsters/huge-metal-slime-attack2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/monsters/huge-metal-slime-attack2.png"
        [/frame]
    [/attack_anim]
	[npc_init]
		hitpoints=60
		is_rpg_npc=1
		likes_gold=0
		[weapon_skills]
		[/weapon_skills]
		[unit_info]
            [variables]
                body=11
                body_rate=0
                deft=9
                deft_rate=0
                mind=0
                mind_rate=0
				evade_level=0
                max_moves=3
				[inventory]
					[weapons]
	                    [melee]
	                        name="fist"
	                        user_name="fist"
	                        description=_ "fist"
	                        icon="mud-glob"
	                        class="none"
	                        class_description="none"
	                        undroppable=1
	                        range=melee
	                        type=impact
	                        damage=6
	                        number=1
	                        body_damage_rate=40
	                        deft_damage_rate=20
	                        deft_number_rate=20
							body_number_rate=4
	                    [/melee]
	                    [ranged]
	                        name="metal glob"
	                        user_name="metal glob"
	                        description=_ "metal glob"
	                        icon="mud-glob"
	                        class="none"
	                        class_description="none"
	                        undroppable=1
	                        range=ranged
	                        type=impact
	                        damage=5
	                        number=3
	                        body_damage_rate=20
	                        deft_damage_rate=10
							deft_number_rate=10
							body_number_rate=5
	                    [/ranged]
	                [/weapons]
	            [/inventory]
				[abilities]
				[/abilities]
            [/variables]
		[/unit_info]
	[/npc_init]
[/unit_type]
