#textdomain wesnoth-units
[unit_type]
    id=Metal Slime
    name= _ "Metal Slime"
    # wmllint: general spelling mudcrawler mudcrawlers
    race=monster
    image="units/monsters/metal-slime.png"
    ellipse="misc/ellipse"
    #ability=regenerates
    hitpoints=20
    movement_type=scuttlefoot
    movement=3
    experience=28
    level=1
    alignment=neutral
    advances_to=Giant Metal Slime
    cost=10
    undead_variation=null
    usage=archer
    description= _ "Metal Slimes are magical constructs of metal. They attack by belching lumps of metal at their foes."
    die_sound=squishy-hit.wav
    {DEFENSE_ANIM "units/monsters/metal-slime-defend.png" "units/monsters/metal-slime.png" mace.wav }
    [resistance]
        blade=50
        impact=60
        cold=60
        fire=60
        pierce=50
    [/resistance]
    [death]
        [frame]
            begin=0
            end=150
            image="units/monsters/metal-slime-death1.png"
        [/frame]
        [frame]
            begin=150
            end=300
            image="units/monsters/metal-slime-death2.png"
        [/frame]
        [frame]
            begin=300
            end=450
            image="units/monsters/metal-slime-death3.png"
        [/frame]
        [frame]
            begin=450
            end=600
            image="units/monsters/metal-slime-death4.png"
        [/frame]
    [/death]
    [attack]
        name=metal glob
        description=_"metal glob"
        icon=attacks/mud-glob.png
        type=impact
        range=ranged
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=metal glob
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/metal-glob.png"
            image_diagonal="projectiles/metal-glob.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/monsters/metal-slime-attack.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/monsters/metal-slime-attack.png"
                sound=squishy-miss.wav
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
