#textdomain wesnoth-units
[unit_type]
    id=WBD Toxic Slime
    name= _ "Toxic Slime"
    # wmllint: general spelling mudcrawler mudcrawlers
    race=monster
	hide_help=true
    image="units/monsters/toxic-slime.png"
    ellipse="misc/ellipse"
    #ability=regenerates
    hitpoints=20
    movement_type=scuttlefoot
    movement=3
    experience=28
    level=1
    alignment=neutral
    advances_to=WBD Giant Toxic Slime
    cost=10
    undead_variation=null
    usage=archer
    description= _ "Toxic Slimes are magical constructs of Toxic. They attack by belching lumps of Toxic at their foes."
    die_sound=squishy-hit.wav
    {DEFENSE_ANIM "units/monsters/toxic-slime-defend.png" "units/monsters/toxic-slime.png" squishy-hit.wav }
    [attack]
        name=toxic glob
        description=_"toxic glob"
        icon=attacks/poison_spit.png
        type=impact
        range=ranged
        damage=3
        number=2
        [specials]
            {WBD_WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=toxic glob
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/toxic-glob.png"
            image_diagonal="projectiles/toxic-glob.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/monsters/toxic-slime-attack.png"
                sound=squishy-strike.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/monsters/toxic-slime-attack.png"
                sound=squishy-miss.wav
            [/frame]
        [/else]
    [/attack_anim]
	[npc_init]
		hitpoints=20
		is_rpg_npc=1
		likes_gold=0
		[unit_info]
            [variables]
                body=4
                body_rate=0
                deft=4
                deft_rate=0
                mind=0
                mind_rate=0
				evade_level=0
                max_moves=3
				[inventory]
					[weapons]
	                    [melee]
	                        name="fist"
	                        user_name="fist"
	                        description=_ "fist"
	                        icon="mud-glob"
	                        class="none"
	                        class_description="none"
	                        undroppable=1
	                        range=melee
	                        type=impact
	                        damage=2
	                        number=-1
	                        body_damage_rate=40
	                        deft_damage_rate=20
	                        deft_number_rate=20
							body_number_rate=4
							[specials]
								[poison]
									id="poison"
									name="poison"
									description="Poison:
This attack poisons living targets. Poisoned units lose 8 HP every turn until they are cured or are reduced to 1 HP. Poison can not, of itself, kill a unit."
									icon="attacks/dagger-thrown-poison-human.png"
									name_inactive= _ "poison"
									description_inactive= _ "Poison:
This attack poisons living targets. Poisoned units lose 8 HP every turn until they are cured or are reduced to 1 HP. Poison can not, of itself, kill a unit."
									[filter_opponent]
										[not]
											[filter_wml]
												[variables]
													unpoisonable_flag=1
												[/variables]
											[/filter_wml]
										[/not]
									[/filter_opponent]
								[/poison]
							[/specials]
	                    [/melee]
	                    [ranged]
	                        name="toxic glob"
	                        user_name="toxic glob"
	                        description=_ "toxic glob"
	                        icon="poison_spit"
	                        class="none"
	                        class_description="none"
	                        undroppable=1
	                        range=ranged
	                        type=impact
	                        damage=3
	                        number=2
	                        body_damage_rate=20
	                        deft_damage_rate=10
							deft_number_rate=10
							body_number_rate=5
							[specials]
								[poison]
									id="poison"
									name="poison"
									description="Poison:
This attack poisons living targets. Poisoned units lose 8 HP every turn until they are cured or are reduced to 1 HP. Poison can not, of itself, kill a unit."
									icon="attacks/dagger-thrown-poison-human.png"
									name_inactive= _ "poison"
									description_inactive= _ "Poison:
This attack poisons living targets. Poisoned units lose 8 HP every turn until they are cured or are reduced to 1 HP. Poison can not, of itself, kill a unit."
									[filter_opponent]
										[not]
											[filter_wml]
												[variables]
													unpoisonable_flag=1
												[/variables]
											[/filter_wml]
										[/not]
									[/filter_opponent]
								[/poison]
							[/specials]
	                    [/ranged]
	                [/weapons]
	            [/inventory]
				[abilities]
				[/abilities]
            [/variables]
		[/unit_info]
	[/npc_init]
[/unit_type]
