#textdomain wesnoth-units
[unit_type]
    id=WBD Brute
    name= _ "Brute"
    race=human
	hide_help=true
    gender=male
    image="units/lvl0s/brute.png"
    ellipse="misc/ellipse-nozoc"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=20
    movement_type=smallfoot
    movement=5
    experience=23
    level=0
    alignment=chaotic
    advances_to=WBD Thug,WBD Heavy Infantryman
    cost=8
    usage=fighter
    description= _ "Brutes are lower-class city dwellers. Though sturdier than most other peasants, they are still good for little else than back-breaking physical labor."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/lvl0s/brute-attack-1.png" "units/lvl0s/brute.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [npc_init]
		hitpoints=20
		is_rpg_npc=1
		likes_gold=1
		#armor_type=medium
		#armor_base=leather
		[armor]
			name=studded_leather
			attribute=none
		[/armor]
		[armor]
			name=leather_cap
			attribute=none
		[/armor]
		[armor]
			name=leather_leggings
			attribute=none
		[/armor]
		body=6
		deft=5
		mind=4
		[weapon_skills]
			[bludgeon]
				damage=1
				attack=1
			[/bludgeon]
		[/weapon_skills]
	[/npc_init]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/lvl0s/brute-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=100
                image="units/lvl0s/brute-attack-2.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=100
                image="units/lvl0s/brute-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/lvl0s/brute-attack-1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
